@{
    var welcomeMessage = $"Bienvenue, il est {DateTime.Now.ToShortTimeString()}";
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@welcomeMessage</p>
</div>
